.table-bordered {
    font-size: 17px;
    font-family: Roboto;
    text-align: initial;
    font: caption;
}

tbody {
    font-size: 14px;
}

thead, tr, td {
    border: 2px solid black !important;
}

.table-bordered > thead > tr > th {
    border: 2px solid black !important;
}

.complete {
    background: #8feaf9;
}

.odd {
    background-color: #e6e4e4;
}

.menu-diary {
    background: #656060;
    color: white;
    font-size: 16px;
}

#groupdiary {
    padding: 3%;
}

.rowdiary {
    margin: 0;
}

.col-diary {
    margin: auto;
}

.section-heading {
    text-align: center;
}

.section-heading > h2 {
    padding: 3%;
}

.section-heading > i {
    padding-bottom: 3%;
}

.group-tabs {
    width: 90%;
    margin: auto;
}

a:hover {
    color: #da1426!important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #c3c3c3 !important;
    border-color: #ddd #ddd #fff;
}

.tabweek {
    font-size: 18px;
    padding-right: 1% !important;
}

.oth-page .mainmenu__nav .meninmenu li .active a {
    color:#ce7852!important;
}