@media (min-width: 360px) and (max-width: 1024px) {
    .col {
        flex-grow: 0 !important;
        flex-basis: 0;
        padding-left: 35px;
    }
}

.thumb {
    width: 226px;
    height: 300px;
    background-color: #3e3e3e;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
}

.thumb img {
    border-radius: 10px;
    border: 2px solid #d3d3d3;
}

@media (min-width: 1200px) {
    .myteam {
        max-width: 1282px !important;
    }
}

.content .team__social__net {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boundimg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.imageGroup {
    margin-top: 40px;
}

.imageGroup h3 {
    margin-bottom: 10px;
}

.thumbGroup {
    width: 500px;
    height: 300px;
    background-color: #3e3e3e;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
}

.implement-github {
    padding: 3%;
}

.bound {
    text-align: justify;
    line-height: 30px;
}

.implement-github strong {
    font-size: 20px;
}

.implement-github p {
    font-size: 18px;
}

.center-content-git {
    padding: 3%;
}


.left-box {
    background-size: cover;
    width: 70%;
}

.right-box {
    /*width: 30%;*/
    /*display: flex;*/
    /*justify-items: center;*/
    /*top: 30%;*/
}

#designweek3 .row {
    margin-bottom: 30px;
}