@media (min-width: 360px) and (max-width: 1024px) {
    .col {
        flex-grow: 0 !important;
        flex-basis: 0;
        padding-left: 35px;
    }
}

.thumb {
    width: 226px;
    height: 300px;
    background-color: #3e3e3e;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
}

.thumb img {
    border-radius: 10px;
    border: 2px solid #d3d3d3;
}

@media (min-width: 1200px) {
    .myteam {
        max-width: 1282px !important;
    }
}

.content .team__social__net {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boundimg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.imageGroup {
    margin-top: 40px;
}

.imageGroup h3 {
    margin-bottom: 10px;
}

.thumbGroup {
    width: 500px;
    height: 300px;
    background-color: #3e3e3e;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 5px;
}

.implement-github {
    padding: 3%;
}

.bound {
    text-align: justify;
    line-height: 30px;
}

.implement-github strong {
    font-size: 20px;
}

.implement-github p {
    font-size: 18px;
}

.center-content-git {
    padding: 3%;
}


.left-box {
    background-size: cover;
    width: 70%;
}

.right-box {
    /*width: 30%;*/
    /*display: flex;*/
    /*justify-items: center;*/
    /*top: 30%;*/
}

#designweek3 .row {
    margin-bottom: 30px;
}
/*animation*/
.run:first-of-type {
    animation: 7s ease 0s infinite normal none running showup;
}
.run {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}
.text-center:last-of-type .run1 {
    margin-left: -355px;
    animation: 7s ease 0s infinite normal none running slidein;
}

.run {
    display:inline-block;
    overflow:hidden;
    white-space:nowrap;
}

.run:first-of-type {
    animation: showup 7s infinite;
}

.run:last-of-type {
    width:0px;
    animation: reveal 7s infinite;
}

.bradcaump-content:last-of-type .run1 {
    margin-left:-355px;
    animation: slidein 7s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}
.content {
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, #000, #000, #000);
    background-repeat: no-repeat;
    background-size: 90%;
    animation: animate 3s linear infinite;
    -webkit-background-clip: text;
}

@keyframes animate {
    0% {
        background-position: -500%;
    }
    100% {
        background-position: 500%;
    }
}
.bradcaump__inner .bradcaump-title {
    font-size: 20px !important;
}