.pb--75 {
    padding-bottom: 0px !important;
}

.group-tabs {
    max-width: 100%;
    margin: auto;
}

a:hover {
    color: #da1426 !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: black;
    background-color: #f7f7f7 !important;
    border-color: #ddd #ddd #fff;
}

.table-bordered {
    /*font-size: 17px;*/
    text-align: initial;
    /*font: caption;*/
}

tbody {
    font-size: 13px;
}

thead, tr, td {
    border: 1px solid black !important;
}

.table-bordered > thead > tr > th {
    border: 1px solid black !important;
}

.complete {
    background: #8feaf9;
}

.odd {
    background-color: #e6e4e4;
}

.menu-diary {
    background: #f7f7f7;
    color: black;
    font-size: 14px;
}

.rowdiary {
    margin: 0;
}

.col-diary {
    margin: auto;
}

.section-heading > h2 {
    padding: 0;
}

.section-heading > i {
    padding-bottom: 3%;
}

.tabweek {
    padding-right: 1% !important;
    font-size: 14px;
}

.caption {
    display: flex;
    justify-content: center;
}

#products {
    background: #f9f9f9;
}

.group-tabs a {
    color: black;
}

.funtion {
    max-width: 20% !important
}

.tkg {
    margin-right: 130px;
}



.lg {
    margin-top: 10px;
}

.fm {
    border: 1px solid lightsteelblue;
}

.inner1 {
    border: none;
    background: #ffa000;
    color: white !important;
}

.container .btn1, .dow1 {
    font-size: 13px !important;
}

.dow1 {
    height: 50px;
    background-color: #ffa000;
    border: none;
    color: white !important;
    padding: 12px 30px;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    align-items: center;
    border-radius: 2.25rem;

}

.f1 {
    background-color: #ffa000 !important;
}

.html1 {
    color: #FFFFFF;
}

.fig1:hover {
    background: #ffa000 !important;
    outline: none;
}

.inner1:hover {
    background: #ffa000;
    outline: none;

}

.dow1:hover {
    color: grey;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    outline: none;
}

.btn-link {
    color: black;
}

.btn-link:hover {
    color: #da1426;
}

.menu-diary th {
    font-weight: normal;
}

#design strong {
    font-size: 14px;
}

#design img {
    width: 100%;
    min-height: 60vh;
    max-height: 60.001vh;
}

.downall {
    height: 88px;
    overflow: hidden;
}

#implement {
    font-size: 14px;
}

.font-end {
    padding-right: 15px;
    padding-left: 15px;
}

.font-end .card-body {
    padding: 5px 5px;

}
.card-header .btn-success a:hover{
    color: white!important;
}
.card-header .btn-link:hover{
    text-decoration: none!important;
}