body{
    margin: 0px;
    padding: 0px;
}
#container{
    width: 900px;
    background-color: white;
    margin: auto;
}
#container #header{
    background-color: burlywood;
    width: 900px;
    height: 120px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column
}
#container #image{
    width: 900px;
    height: 400px;
    margin-top:10px ;
    background-color: cadetblue;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column
}

#container #content{
    width: 900px;
    height: 600px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column

}
#container #title{
    text-align: center;
}
#container #row1{
    margin: auto;
}
#container .item1{
    width: 180px;
    height: 220px;
    float: left;
    margin-left: 50px;
    background-color: cadetblue;
    text-align: center;
}
#container #row2{
    margin: auto;
}
#container .item2{
    width: 180px;
    height: 220px;
    float: left;
    margin-left: 50px;
    background-color: cadetblue;
}
#container #footer{
    width: 900px;
    height: 120px;
    background-color: darkblue;
    margin-top: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#container .text{
    color: white;

}