.header-section {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 111;
}


.hs-item {
    max-height: 760px;
    height: 660px;
}

.site-navbar {
    padding: 2px 70px;
}


.nav-link {
    color: black;
}

/*#groupdiary table{*/
/*}*/
#groupdiary table thead tr th {
    font-size: 14px !important;
    background-color: #f7f7f7;
    border: 1px solid black;
}

#groupdiary tbody tr td ul {
    padding-left: 10px;
    font-size: 13px;
}

#groupdiary tbody tr td {
    vertical-align: middle;
    font-size: 13px;
    border: 1px solid black;
}

.img {
    background-position: center center !important;
    background-size: cover;
}