.header-section {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 111;
}


.hs-item {
    max-height: 760px;
    height: 660px;
}
.site-navbar {
    padding: 2px 70px;
}


.nav-link{
    color: black;
}
